/* /////////////// DEFAULT ///////////////*/

body {
    -ms-overflow-style: none;
    background-color: black;
    margin: auto;
    width: 100%;
    background-image: url(../U4FC36S2RX/2021/400.jpg);
    backdrop-filter: blur(70px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .75s ease;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;  
}

::-webkit-scrollbar {
    display: none;
}

/* /////////////// ナビ ///////////////*/

.D84NHHLBY5 {
    width: 100%;
    height: 100px;
    box-shadow: -1px -12px 13px -2px rgba(0,0,0,0.55);
    -webkit-box-shadow: -1px -12px 13px -2px rgba(0,0,0,0.55);
    position: absolute;
    bottom: 0;
    z-index: 9999;
    backdrop-filter: blur(10px);
}

.SG4U8UCJFW {
    width: 25%;
    height: 100%;
    float: left;
}

.RJ98QQ70IX {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transform: scale(0.6);
    
}

/* /////////////// アニ ///////////////*/

@keyframes PFBA01 {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  } 

@keyframes PFBA02 {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
    transform: translateX(0);
      opacity: 1;
    }
  }

/* /////////////// トップーナビ ///////////////*/

.Z7ZO4L3GDK {
    animation: 0.75s ease-out 0s 1 PFBA01;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.KU1DM5FRTF {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 9999;
    top: 0;
    box-shadow: 0px 10px 13px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 13px -1px rgba(0,0,0,0.75);
    backdrop-filter: blur(10px);
}

.V5QOF0U328 {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 35px;
    padding-left: 50px;
    width: 79%;
    display: inline-block;
    margin-top: 0;
    float: left;
}

.Y2KNUZER4V {
    width: 12%;
    float: right;
    height: 100%;
}

.Y2KNUZER4I {
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    object-fit: scale-down;
}

/* /////////////// タイムライン ///////////////*/

.UJVXR5FLOE {
    z-index: -1;
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
    display: inline-block;
    overflow: scroll;
}

.AXBMKOLQAB {
    width: 100%;
    height: max-content;
    overflow: hidden;
    margin-top: 150px;
}

.KS2GTLAOPY {
    width: 90%;
    height: 50px;
    font-size: 35px;
    color: white;
    margin-top: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

.OBGTITLZVJ {
    width: 23.98%;
    height: 240px;
    margin: 0.3%;
    display: inline-block;
    transition: all .5s ease;
}

.OBGTITLZVJ:hover {
    transform: scale(0.95);
}

.RHR2GYHKKP {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* /////////////// ライブラリー ///////////////*/

.RWZJKEDNA8 {
    display: inline-block;
    z-index: -2;
    overflow: scroll;
    width: 100%;
    height: 1200px;
    margin-top: 100px;
    animation: 0.75s ease-out 0s 1 PFBA01;
}

.J9T5QT3P9U {
    float: left;
    width: 50%;
    height: 475px;
    margin-bottom: 25px;
    transform: scale(0.7);
}

.K52TI73ZWK {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.SBMCODZ5BG {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.IBKY6CNEFX {
    width: 400px;
    height: 50px;
    font-size: 35px;
    color: white;
    margin-top: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

/* /////////////// おすすめ ///////////////*/

.FLOFJ6VOEY {
    animation: 0.75s ease-out 0s 1 PFBA01;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* /////////////// 設定 ///////////////*/

.Z66FN5U9P9 {
    animation: 0.75s ease-out 0s 1 PFBA01;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.F085O0FOP7 {
    width: 100%;
    height: 50%;
    margin-top: 150px;
    z-index: -1;
}

.XP3I6W3MXJ {
    width: 100%;
    height: 50%;
    padding-top: 110px;
    z-index: -1;
}

.XFQR8I4EQK {
    width: 100%;
    height: 100px;
    margin-top: 450px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}